
@{
    ViewData["Title"] = "Home Page";
}


<!--Este es la función que se instala a la ventana principal y que se activa cuando 
    el viewBag deja de estar vacio por activación del botón
-->
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function(){
            alert("@ViewBag.Message");
        }    
    </script>
}

<!--Este es el formulario (Dos campos de textos y un boton) -->
<div class="row">
    <div class="col-md">
        <form id="frmValidar" asp-action="ValidarTexto" asp-controller="Home"
        method="POST" data-ajax="true">
        
        @Html.TextBox("Contrasena", null)
        @Html.TextBox("RepiteContrasena", null)

        <button class="btn btn-danger" type="submit">Validar</button>
    </form>

    </div>
</div>
